.relative-box{
	width: 500px;
	height: 500px;
	position: relative;
	background-color: yellow;
	margin: 0 auto;
	transition: all 2s linear 1s ;
	
}
.relative-box:hover{
	background-color: blue;
	width: 400px;
	height: 400px;
}
 
.absolute-box{
	width: 100px;
	height: 100px;
	position:absolute ;
	background-color: red;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	transition-property: all;
	transition-duration: 3s;
	transition-timing-function: linear;
	transition-delay: 2s;

}
.absolute-box:hover{
	background-color: green;
	transform: rotate(45deg);
	transform: translate(-50%,-50%);
}
